
:root {
    --bg-color: rgba(100, 50, 0, 0.85);
    --bg-solid: rgb(100, 50, 0);
    --fg-color: rgb(50, 25, 0);
}

#ui {
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.playerName, .npcName {
    transform: translate(-50%, -100%);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 4px;
}

.playerName {
    color: white;
}

.npcName {
    color: yellow;
}

@keyframes fadeOutHitSplat {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -64px);
    }
}

.hitSplat {
    color: white;
    font-family: sans-serif;
    font-weight: bold;

    border-radius: 100%;
    border: 2px solid rgb(100, 0, 0);
    padding: 2px 4px;
    
    background-color: rgb(150, 0, 0);
    
    animation: fadeOutHitSplat linear forwards 2s;
}

.overlayHealthBar {
    transform: translateX(-50%);
    background-color: rgb(150, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border-radius: 3px;
    width: 40px;
    height: 8px;
}

.healthFill {
    background-color: rgb(0, 150, 0);
    height: 100%;
}

.overlay {
    user-select: none;
    position: absolute;
    margin: 0;
}

#ctxMenu {
    cursor: default;

    pointer-events: initial;
    z-index: 2;
    position: absolute;

    background-color: var(--fg-color);
    color: white;
    border-radius: 4px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

#ctxMenu > * {
    padding: 8px;
}

#ctxMenu > *:hover {
    color: lightgray;
}

#heldItem {
    z-index: 2;

    width: 48px;
    height: 48px;

    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

#tabArea {
    position: absolute;
    top: 0;
    right: 0;

    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 2px;
}

#tabArea > * {
    pointer-events: initial;

    background-color: var(--bg-color);
    border: 3px solid var(--fg-color);
    border-radius: 5px;

    margin: 2px;
}

#tabs {
    width: fit-content;
    display: flex;
    justify-content: space-around;
    padding: 4px;
}

#tabs > * {
    width: 48px;
    height: 48px;

    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;

    margin: 4px 12px;
}

#inventory {
    width: fit-content;
    height: fit-content;

    display: grid;
    grid-template-columns: repeat(6, 48px);
    column-gap: 4px;
    grid-template-rows: repeat(5, 48px);
    row-gap: 4px;
}

#inventory > * {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.itemAmount {
    position: absolute;
    user-select: none;
    top: 2px;
    right: 2px;

    border-radius: 4px;
    background-color: rgb(0, 0, 0, 0.75);

    color: white;
    font-size: 14px;
}

#attribs {
    float: left;
    margin: 0;
}

#attribs > * {
    color: white;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.positiveBonus {
    color: greenyellow
}

.negativeBonus {
    color: coral
}

#equipment {
    width: 350px;
    padding: 4px;
}

#equipmentGrid {
    display: grid;
    float: left;
    grid-template-columns: repeat(3, 48px);
    grid-template-rows: repeat(3, 48px);
}

#equipmentGrid > * {
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

#helmSlot {
    background-image: url('ui/equip/helm.png');
}

#swordSlot {
    background-image: url('ui/equip/sword.png');
}

#plateSlot {
    background-image: url('ui/equip/plate.png');
}

#shieldSlot {
    background-image: url('ui/equip/shield.png');
}

#legsSlot {
    background-image: url('ui/equip/legs.png');
}

#chatBox {
    pointer-events: initial;

    position: absolute;
    bottom: 0;
    left: 0;

    width: fit-content;
    height: fit-content;

    background-color: var(--bg-color);
    border: 3px solid var(--fg-color);

    color: white;

    border-top-right-radius: 5px;
    border-bottom: none;
    border-left: none;
}

#chatBoxMessageArea {
    display: flex;
    flex-direction: column-reverse;

    overflow-y: scroll;
    width: 480px;
    height: 200px;
}

#chatBoxMessageArea::-webkit-scrollbar-thumb {
    background-color: var(--fg-color);
}

#chatBoxMessageArea::-webkit-scrollbar {
    background-color: transparent;
}

#chatBoxMessageArea > p {
    margin: 6px;
}

#chatBoxInput {
    width: 100%;
    box-sizing: border-box;

    background-color: transparent;
    border: none;
    border-top: 3px solid var(--fg-color);

    color: white;
}

#chatBoxInput:focus {
    outline: none;
}

#dialogueBox {
    pointer-events: initial;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 325px;
    padding: 16px;

    background-color: var(--bg-solid);
    border: 3px solid var(--fg-color);
    border-radius: 5px;

    color: white;
}

#dialogueBox * {
    margin: 0;
    margin-top: 8px
}

#dialogueName {
    margin-top: 0;
    color: yellow;
    text-align: center;
}

#dialogueOptions {
    border-top: 1px solid var(--fg-color);

    margin-top: 24px;
    padding-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#dialogueOptions > * {
    cursor: default;
}

#dialogueOptions > *:hover {
    color: lightgray;
}

canvas {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    image-rendering: pixelated;
}

body {
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
}
