
* {
    margin: 0;
}

#menu {
    font-family: sans-serif;
    color: white;

    margin-top: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#menuContainer, #updateContainer {
    width: 400px;
    height: 340px;
    padding: 32px;

    margin: 16px;

    background-color: var(--bg-color);
    border: 3px solid var(--fg-color);
    border-radius: 4px;
}

#updateContainer {
    white-space: pre-wrap;
    overflow: auto;
}

#updateContainer::-webkit-scrollbar-thumb {
    background-color: var(--fg-color);
}

#updateContainer::-webkit-scrollbar {
    background-color: transparent;
}

#menuContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 200px;
    width: 200px;
}

#inputContainer > * {
    box-sizing: border-box;
    margin-bottom: 8px;
    width: 100%;
}

.menuRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuRow > * {
    width: 40% !important;
}

.menuInput {
    background-color: var(--fg-color);
    border: none;
    border-radius: 4px;

    text-align: center;

    font-size: 18px;
    padding: 6px;
    color: white;
}

.menuButton {
    cursor: default;
    user-select: none;

    padding: 6px;
    font-size: 18px;
    text-align: center;
    width: 100%;

    border: 2px solid var(--fg-color);
    border-radius: 4px;
}

#footer {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px;
}

#footer > * {
    color: skyblue;
    margin: 8px;
}
